<div fxLayout="column" > 
     
      <mat-table #table [dataSource]="statusDetailsDataSource" class="mat-elevation-z1" matSort>
          
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>TIME STAMP</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.timestamp}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
      </mat-table>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>